body
{
    font-family: 'Crimson Text', serif;
    background-color: lightpink;
    color: blue;
}
span
{
    color: red;
    font-size: 16px;
}	
li img
{
    width: 200px;
    border-radius: 20px;
}
.division
{
    background: #fff8f8;
    padding: 30px;
    border-radius: 20px;
    width: 50%;
    display: inline-block;
    box-shadow: 5px 5px 18px plum;
}

.result_obj
{
    text-align: center;
    background: #dedddd;
    border-radius: 20px;
    padding: 10px;
}